{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/price_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/media/media_price-page.css' %}">
    
{% endblock %}

<title>{% block title %}{% translate 'Цены' %}{% endblock %}</title>

{% block content %}
    <main>
        <section class="prices__section">
            <div class="prices container">
                <h2>{% translate 'Цены' %}</h2>
                <div class="prices-table">
                    <div class="appointment-prices">
                        <table class="appointment-table table">
                            <thead>
                            <tr>
                                <th class="title__data"></th>
                                <th class="price__data"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for price in appointment_prices %}
                                <tr class="appointment__table_row table_row">
                                    <td class="title__data">{{ price.title }}</td>
                                    <td class="price__data">{{ price.price }} €</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <p>{% translate 'В стоимость посещения входит плата за офисные услуги в размере 33,90 евро и плата за хранение данных в электронном архиве (Kanta.fi) в размере 2,90 евро за посещение. В будние дни после 19:00 и в выходные дни цены повышаются. Цены не учитывают возможную компенсацию Kela.' %}</p>
                    </div>
                    <div class="prescription-prices">
                        <h3>{% translate 'Рецепты' %}</h3>
                        <table class="prescription-table table">
                            <thead>
                            <tr>
                                <th class="title__data"></th>
                                <th class="price__head"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for price in prescription_prices %}
                                <tr class="prescription__table_row table_row">
                                    <td class="title__data">{{ price.title }}</td>
                                    <td class="price__data">{{ price.price }} € / {% translate 'шт' %}.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="make-appointment-button">
                    <button class="btn make-appointment-btn">
                        <span class="make-appointment-span">{% translate 'Найти свободное время' %}</span>
                        <img src="{% static 'main_page/arrow.svg' %}" alt="Arrow">
                    </button>
                </div>
            </div>
        </section>
    </main>
{% endblock %}