<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/x-con" href="{% static 'base/images/favicon.ico' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block css %} {% endblock %}
</head>
<body>
    <header>
        <div class="header__wrapper header-footer_container">
            <div class="header__wrapper--logo">
                <a href="{% url 'menu_page' %}">
                    <img src="{% static 'base/images/dina_logo.svg' %}" alt="Логотип">
                </a>
            </div>

            <div class="header__wrapper--user_nav">
                <div class="user_nav--menu_list">
                    <ul class="menu_list--list_items">
                        {% for item in menu %}
                            <li class="item"><a href="{{ item.url }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                    
                    <div class="lang_block">
                        <img src="{% static 'base/images/lang_globus.svg' %}" alt="Глобус">
                        <img src="{% static 'base/images/language.svg' %}" alt="Текущий язык">
                        <img src="{% static 'base/images/switch_lang.svg' %}" alt="Переключение языка">
{#                        <li>#}
{#                            <form action="{% url 'set_language' %}" method="post">#}
{#                                {% csrf_token %}#}
{#                                <input type="hidden" name="next" value="{{ redirect_to }}">#}
{#                                <select name="language">#}
{#                                    {% get_current_language as LANGUAGE_CODE %}#}
{#                                    {% get_available_languages as LANGUAGES %}#}
{#                                    {% get_language_info_list for LANGUAGES as languages %}#}
{#                                    {% for language in languages %}#}
{#                                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>#}
{#                                        {{ language.name_local }} ({{ language.code }})#}
{#                                        </option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                                <input type="submit" value="go">#}
{#                            </form>#}
{#                        </li>#}
                    </div>
                </div>

                <div class="nav_list--make_appointment">
                    <button>
                        <img class="appointment-icon" src="{% static 'base/images/make_appointment_icon.svg' %}" alt="Иконка записи на прием">
                        {% trans 'Записаться на прием' %}
                    </button>
                </div>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="footer__wrapper header-footer_container">
            <div class="footer__wrapper--logo_rights">
                <img src="{% static 'base/images/dina_logo.svg' %}" alt="Логотип">

                <p>© Dina Varlamova Oy 2024</p>
            </div>

            <div class="footer__wrapper--address footer-align-center">
                <h3 id="address">Ohtokuja 3A</h3>

                <p>80230 Joensuu</p>
            </div>

            <div class="footer__wrapper--country_flag">
                <img src="{% static 'base/images/country_flag.png' %}" alt="">
            </div>

            <div class="footer__wrapper--contact_mail footer-align-center">
                <h3 id="email">dinavarlamova@gmail.fi</h3>
                <p>Возможен прием в вечернее время и в выходные дни</p>
            </div>

            <div class="footer_wrapper--contact_phone footer-align-center">
                <h3 id="phone-number">040 000 0000</h3>
                <p>Есть онлайн запись на прием</p>
            </div>
        </div>
    </footer>
</body>
</html>