<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/media/media-base.css' %}">
    <link rel="icon" type="image/x-con" href="{% static 'base/images/favicon.ico' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block css %} {% endblock %}

    {% get_current_language as current_language %}
    {% get_available_languages as available_languages %}
    {% get_language_info_list for available_languages as languages %}

</head>
<body>
<header>
    <div class="header__wrapper header-footer_container">
        <div class="header__wrapper--logo">
            <a href="{% url 'menu_page' %}">
                <img src="{% static 'base/images/dina_logo.svg' %}" alt="Логотип">
            </a>
        </div>

        <div class="header__wrapper--user_nav">
            <div class="user_nav--menu_list">
                <ul class="menu_list--list_items">
                    {% for item in menu %}
                        <li class="item"><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>

                <div class="lang_block" id="lang_blockID">
                    <img src="{% static 'base/images/lang_globus.svg' %}" alt="Глобус">

                    {% if current_language == 'ru' %}
                        <img src="{% static 'base/images/ru_lang.svg' %}" alt="Русский язык">
                    {% else %}
                        <img src="{% static 'base/images/fi_lang.svg' %}" alt="Suomen kieli">
                    {% endif %}

                    <img id="lang-arrow" src="{% static 'base/images/switch_lang.svg' %}" alt="Переключение языка">
                    <div id="dropdown__langmenu" class="dropdown__langmenu">
                        <ul class="lang-list">
                            {% for language in languages %}
                                <form class="lang-form" action="{% url 'set_language' %}" method="post">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}">
                                    <input type="hidden" name="language" value="{{ language.code }}">
                                    <a onclick="this.parentNode.submit();">
                                        {{ language.name_local }} ({{ language.code }})
                                    </a>
                                </form>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="nav_list--make_appointment">
                <button class="btn nav_list--button">
                    <img class="appointment-icon" src="{% static 'base/images/make_appointment_icon.svg' %}"
                         alt="Иконка записи на прием">
                    {% translate 'Записаться на прием' %}
                </button>
            </div>
        </div>
    </div>
</header>

{% block content %}{% endblock %}

<footer>
    <div class="footer__wrapper header-footer_container">
        <div class="footer__wrapper--logo_rights">
            <img src="{% static 'base/images/dina_logo.svg' %}" alt="Логотип">

            <p>© Dina Varlamova Oy 2024</p>
        </div>

        <div class="footer__wrapper--address footer-align-center">
            <h3 id="address">Ohtokuja 3A</h3>

            <p>80230 Joensuu</p>
        </div>

        <div class="footer__wrapper--country_flag">
            <img src="{% static 'base/images/country_flag.png' %}" alt="">
        </div>

        <div class="footer__wrapper--contact_mail footer-align-center">
            <h3 id="email"><a href="mailto: dinavarlamova@gmail.fi" class="doc-email">dinavarlamova@gmail.fi</a></h3>
            <p> {% translate 'Возможен прием в вечернее время и в выходные дни' %} </p>
        </div>

        <div class="footer_wrapper--contact_phone footer-align-center">
            <h3 id="phone-number"><a href="tel:+040 000 0000" class="doc-phonenumber">040 000 0000</a></h3>
            <p>{% translate 'Есть онлайн запись на прием' %}</p>
        </div>
    </div>
</footer>

<script src="{% static 'js/menu_list.js' %}"></script>
<script src="{% static 'js/language.js' %}"></script>
</body>
</html>