{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/media/media_main-page.css' %}">
{% endblock %}

<title>{% block title %}{% translate 'Главная' %}{% endblock %}</title>

{% block content %}
    <main>
        <section class="about-doc__section">
            <div class="about-doc container">
                <div class="doc-info">
                    <h1 id="doc-name">{% translate 'Дина Варламова' %}</h1>
                    <h3 id="doc-spec">{% translate 'Профессиональные услуги педиатра в Йоэнсуу' %}</h3>
                </div>

                <div class="doc-photo">
                    <img src="{% static 'main_page/doc_photo.png' %}" alt="Фото врача">
                </div>
            </div>
        </section>

        <section class="about-health__section">
            <div class="about-health container">
                <h2 id="health-above">{% translate 'Здоровье превыше всего' %}</h2>
                <p id="about-clinic">
                    {% translate 'Клиника Дины Варламовой занимается детскими заболеваниями и предлагает индивидуальный подход к каждому маленькому пациенту и его родителю. Здесь используются не только передовые технологии, но и создается комфортная атмосфера, в которой пациенты чувствуют себя спокойно и защищено.' %}
                </p>

                <div class="advantages-icons">
                    <div class="individual_approach">
                        <img src="{% static 'main_page/baby_icon.svg' %}" alt="Индивидуальный подход">
                        <p>{% translate 'Индивидуальный подход' %}</p>
                    </div>

                    <div class="comfortable_atmosphere">
                        <img src="{% static 'main_page/newborn_icon.svg' %}" alt="Атмосфера">
                        <p>{% translate 'Комфортная атмосфера' %}</p>
                    </div>

                    <div class="modern_equipment">
                        <img src="{% static 'main_page/duck_icon.svg' %}" alt="Оборудование">
                        <p>{% translate 'Современное оборудование' %}</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-doc-desc__section">
            <div class="about-doc-desc container">
                <div class="about-doc__fullinfo">
                    <h2>{% translate 'О докторе' %}</h2>

                    <p>{% translate 'Я практикующий врач-педиатр с большим опытом работы.' %}</p>

                    <p>{% translate 'Моя главная задача – забота о здоровье ваших детей.' %}</p>

                    <p>
                        {% translate 'Современный подход, профессионализм и теплота в обслуживании – вот ключевые принципы, на которых строится моя работа.' %}
                    </p>

                    <p>{% translate 'Откройте дверь в мир крепкого здоровья вашего малыша!' %}</p>
                </div>

                <div class="about-doc__photo">
                    <img src="{% static 'main_page/doc_photo.png' %}" alt="Фото врача">
                </div>
            </div>
        </section>

        <section class="personal-approach__section">
            <div class="personal-approach container">
                <p>{% translate 'Хотите индивидуальный подход? Клиника' %}
                    <b>{% translate 'Дины Варламовой' %}</b>{% translate ' к Вашим услугам!' %}</p>

                <button class="btn appointment-button-main">
                    <img class="appointment-icon" src="{% static 'main_page/make_appointment_icon.svg' %}" alt="">
                    {% translate 'Записаться на прием' %}
                </button>
            </div>
        </section>

        <section class="google-map__section">
            <div class="google-map container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1835.9252746154257!2d29.7610787770863!3d62.603045044815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469b866252af4da7%3A0x5853e7be00180644!2sKauppakatu%2030%2C%2080100%20Joensuu!5e0!3m2!1sru!2sfi!4v1707211814469!5m2!1sru!2sfi"
                        allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
    </main>
{% endblock %}