@media screen and (max-width: 1200px) {
    .services-blocks {
        justify-content: center;
    }
}

@media screen and (max-width: 1000px) {
    .services h2 {
        padding: 30px 0 30px 0;
    }

    .services__section {
        padding: 0 15px 0 15px;
    }
    .services-blocks {
        justify-content: center;
    }

    .category_and_services:last-child{
        min-width: 600px;
    }
}
