@media screen and (max-width: 1000px) {
    section:not(:first-child) {
        padding: 0 20px 50px 20px;
    }

    .about-doc__section {
        margin-bottom: 50px;
    }

    .about-doc {
        position: relative;
    }

    .doc-info {
        position: absolute;
        top: 68%;
        max-width: 400px;
    }

    /*ЗДОРОВЬЯ ПРЕВЫШЕ ВСЕГО*/
    #health-above {
        margin-bottom: 25px;
    }

    #about-clinic {
        margin-bottom: 30px;
        font-size: 23px;
        line-height: 1.5em;
        text-indent: 1.25em;
        /*padding: 0 20px 0 20px;*/
    }


    /* НАШИ ПРЕИМУЩЕСТВА */
    .individual_approach p,
    .modern_equipment p,
    .comfortable_atmosphere p {
        font-size: 25px;
    }




    /*О ДОКТОРЕ ПОДРОБНЕЕ*/
    .about-doc__fullinfo {
        padding: 38px 28px 38px 28px;
        max-width: 100%;
    }
    .about-doc__fullinfo h2 {
        font-size: 30px;
        margin-bottom: 35px;
    }

    .about-doc__fullinfo p {
    }


    /**/







    .about-doc__photo {
        display: none;
    }


}